$magenta-color:#d52789;
$blue-color: #1b75bc;
$dark-blue-color:#1B75BC;

@mixin button ( $font-size, $color ) {
    font-family: Work Sans ;
    font-size: $font-size ;
    font-weight: 100 ;
    color: #fff;
    padding: 12px 24px 12px 24px;
    background-color: $color;
    border-radius: 26px;
    border-style: none !important;
    letter-spacing: 1.4px;
    grid-column: 1/2;
}
@mixin flex ( $flex-direction, $flex-justify, $flex-align) {
	display: flex !important;
	flex-direction: $flex-direction;
	justify-content: $flex-justify;
    align-items: $flex-align;
}
@mixin title ($color){
    font-family: Work Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 40px;
    color:$color;
}
@mixin text ($family,$weight,$size, $color) {
    font-family: $family;
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}
%grid{
    display:grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 16px;
    max-width:80vw;
    margin: 0 auto;
}

//General styles//
body{
    background-color: #fff;
}
nav{
    position: fixed;
    top: 0;
    width:100%;
    @include flex(row, center, center);
    background-color:rgba(0,0,0,.2) ;
    height: 80px;
    z-index:1;
    .navigation{
        @include flex(row, space-between, center);
        width: 80vw;
        div{
            @include flex(row, end, center);
            .menu{
                font-family: Work Sans;
                font-size: 16px;
                font-weight: normal;
                letter-spacing: normal;
                margin-right:60px;
                a{
                    text-decoration: none;
                    color: #ffffff;
                    padding: 30px 20px 30px 20px;
                }
            }
            .social{
                img{
                    margin: 10px;
                }
            }
        }
    }
}
header{
        @include flex(column, flex-end, center);
        width: 100%;
        height:420px;
        background-image:linear-gradient(to right,rgba(27,117,188,.5)33%, rgba(148, 217, 248, 0.2) 66.67%, rgba(0, 0, 0, 0) 100%), url("../JPG/image5.png");
        background-repeat: no-repeat;
        background-size: cover;
        top:0;
        z-index:-1;
        .main-header{
            width: 80vw;
            margin-bottom:40px;
            p{
                @include text(Work Sans,500, 16px,#fff);
                max-width:670px;
            }
            button{
                margin-bottom: 0;
            }
        }
}
footer{
    height: 80px ;
    background-color: $blue-color ;
    @include flex( row, center, center);
    p{
        @include text (Work Sans, 100,16px, #fff);
    }
}
//home//
.data-container{
    @include flex(row, center, center);
    background-color: #fff;
    height: 152px;
    .container{
        @include flex(row, space-between, center);
        width: 80vw;
        .data{
            @include flex(row, center, center);
            height: 56px;
            .solid-txt{
            font-family: Work Sans;
            font-weight: bold;
            font-size: 48px;
            color: #1B75BC;
            }
            p{
                font-family: Work Sans;
                font-weight: 600;
                font-size: 16px;
                color: #373736;
                margin-left: 10px;
            }
        }
    }
}
.positions{
    background-color: #F1F1F1;
    @include flex(column, center, center);
    flex-wrap:wrap;
    .grid{
        .card{
            @include flex(row, flex-start, center); 
            background-color: #fff;
            border-radius: 8px;
            height:113px;
            box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
            .position-icon{
                margin-left: 16px;
            }
            div{
                @include flex(column, center, flex-start);
                margin-left:2vw;
                h6{
                    margin-bottom: 3px;
                    margin-top: 0;
                }
                p{
                    margin-top:3px;
                    margin-bottom: 3px;
                }
                .center{
                    @include flex(row, flex-start, center); 
                    margin-left: 0;
                }
            }
        }
    }
}
.info{
    background-color:#ffffff;
    padding-top: 10px;
    .title{
        margin-top: 60px;
        margin-bottom: 60px ;
    }
    .grid{
        .card-2{
            @include flex(column, center, center);
            text-align: center;
            margin-top:24px;
        }
    }
    .awards{
        @include flex(row, center, center);
        .cont-2{
            @include flex(row, space-between, center);
            width:70vw;
        }
    }
    .locations{
        padding-bottom: 60px;
    }
}
.form-container{
    background-color: #373736 ;
    height: 334px;
    .social{
        max-width: 200px ;
        @include flex(row, space-between, center)
    }
    form{
        .form{
            @include flex(column, flex-start, flex-start);
            flex-wrap: wrap;
            height: 300px;
            .input {
                margin-top:24px;
                min-width:150px;
                @include flex(column, flex-start, flex-start);
                input{
                    margin-top:5px;
                    margin-right:15px;
                    width:16vw;
                    min-width:150px;
                    height: 40px;
                    border-radius: 5px ;
                    border-style: none;
                    padding: 0px 1.4em 0px .8em;
                }
                p{
                    margin-top:0;
                    margin:0;
                    font-size: 16px;
                    font-weight: 100;
                    color: #fff;
                    
                }
                .inputfile {
                    width: 0.1px;
                    height: 0.1px;
                    opacity: 0;
                    overflow: hidden;
                    position: absolute;
                    z-index: -1;
                }
                .inputfile + label {
                    margin-top: 10px;
                    font-family: Work Sans;
                    font-size: 14px;
                    color: white;
                    background-color: $blue-color;
                    display: inline-block;
                    padding: 10px 20px 10px 20px ;
                    border-radius: 20px;
                    cursor: pointer;
                }
                #message{
                    height:130px;
                    padding: .6em 1.4em .5em .8em;
                }
                #position{
                    margin-top:5px;
                    margin-right:15px;
                    width:18vw;
                    min-width:185px;
                    height: 40px;
                    border-radius: 5px ;
                    border-style: none;
                    @include text(Montserrat ,100, 16px , #616061 );
                    padding: 0 0 0 .8em;
                    -moz-appearance: none;
                    -webkit-appearance: none;
                    appearance: none;
                    cursor: pointer;
                }
            }
        }
    }
}
.loc-w{
    max-width:214px;
}

//Job details//
.job-position{
    @include flex(row, flex-start, center);
    .posit-desc{
        @include flex(column, flex-start, center);
        margin-left:25px;
        h4{
            margin: 0;
        }
        .flex{
            @include flex(row, flex-start, center);
            padding:0;
            img{
                margin-left:32px;
                margin-right:8px;
            }
            p{
                margin-top:5px;
                margin-bottom:5px;
            }
        }
    }
}
.description{
    background-color: #fff;
    @include flex(column, flex-start, center);
    .grid{
        div{
            .title{
                text-align: initial;
            }
        }
    }
}
.life-style{
    background-color: #fff;
    @include flex(column, center, center);
    .title{
        width: 80vw;
        text-align: initial;
        margin: 60px 0 60px 0;
        p{
            margin:0;
        }
    }
    .pictures{
        width: 80vw;
        @include flex(row, flex-start, flex-start);
        flex-wrap: wrap;
        margin-bottom:60px;
    }
}
//Job form//
.job-form{
    @include flex(column, flex-start, flex-start);
    margin-bottom:60px;
    margin-top: 60px;
    .submit{
        text-align: center;
        width:32vw;
        min-width:150px;
    }
    .input {
        margin-top:24px;
        min-width:150px;
        @include flex(column, flex-start, flex-start);
        label{
            font-size: 16px;
            font-weight: 100;
            color: #373736;
        }
        input{
            margin-top:5px;
            margin-right:15px;
            width:30vw;
            min-width:150px;
            height: 40px;
            border-radius: 5px ;
            border-width: thin;
            padding: 0px 1.4em 0px .8em;
        }
        p{
            margin-top:0;
            margin:0;
            font-size: 16px;
            font-weight: 100;
            color: #373736;
            
        }
        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        .inputfile + label {
            margin-top: 10px;
            font-family: Work Sans;
            font-size: 14px;
            color: white;
            background-color: $blue-color;
            display: inline-block;
            padding: 10px 20px 10px 20px ;
            border-radius: 20px;
            cursor: pointer;
        }
        #message{
            height:130px;
            padding: .6em 1.4em .5em .8em;
        }
        #position{
            margin-top:5px;
            margin-right:15px;
            width:32.5vw;
            min-width:185px;
            height: 40px;
            border-radius: 5px ;
            @include text(Montserrat ,100, 16px , #616061 );
            padding: 0 0 0 .8em;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            cursor: pointer;
        }
    }
}
//Hiering Process//
.acordion{
    @include flex(column, center, center);
    margin-bottom:60px;
    .flex{
        @include flex(column, flex-start, flex-start);
        width:80vw;
        .title{
            text-align: initial;
            p{
                margin:0;
            }
        }
        .body2{
            text-align: initial;
            color: #000;
        }
    }
    .acordion-body{
        width: 60vw;
        .acordion-pt{
            .line{
                width:100%;
                height:1px;
                background-color: #4BACE1;
            }
            .active, .accordion-btn:hover {
                background-color: #ccc; 
              }
            .acordion-btn{
                @include flex(row, space-between, center);
                background-color: #fff;
                cursor: pointer;
                width: 60vw;
                @include text (Work Sans,600,24px,#373736);
                padding: 0;
                border-radius: 0px;
                border-style: none !important;
                letter-spacing: 1.4px;
                margin-bottom: 0px;
                .flex{
                    @include flex(row, flex-start, center);
                    padding: 0;
                    .step{
                        @include text (Work Sans,600,48px,$magenta-color);
                        margin-right: 20px;
                        margin-top:5px;
                        margin-bottom:5px;
                    }
                    .txt{
                        margin-top:5px;
                        margin-bottom:5px;
                    }
                }
                .chevron{
                    background-image: url("../SVG/chevron-down.svg");
                    background-repeat: no-repeat;
                    background-size: cover;
                    width: 25px;
                    height:20px;
                    margin-right:15px;
                }
            }
            .panel {
                padding: 0 18px;
                display: none;
                background-color: white;
                overflow: hidden;
              }
        }
    }
}
.help{
    @include flex(column, flex-start, center);
    background-color: #F1F1F1;
    margin-top: 60px;
    div{
        width:80vw;
        h3{
            color: #000;
        }
        ul{
            padding-left:15px;
            padding-bottom:20px;
            .body2{
                color:#000;
            }
        }
    }
}
//Hier banners//
.hier{
    background-color: $magenta-color;
    width: 100%;
    height: 130px;
    @include flex(row, center, center)
}
.hier2{
    width: 100%;
    @include flex(row, center, center);
    .flex{
        background-color: #373736;
        width: 80vW;
        height: 94px;
        padding: 0 0 0 0;
        @include flex(row, center, center);
        h4{
            margin:0px;
        }
    }
}
//Text styles//
.title{
    @include title(#373736);
    width:100%;
    text-align: center;
}
.title-acord{
    @include text (Work Sans,100,34px,#000);
    margin-top: 25px;
}
h3{
    @include text (Work Sans,600,24px,$dark-blue-color);
}
h4{
    @include title(#fff);
    max-width:670px;
}
h5{
    @include text ( Work Sans,600,20px, #1B75BC);
    margin-top:10px;
    margin-bottom: 0;
}
h6{
    @include text(Work Sans,bold, 20px , #000 );
}
label{
    font-size: 16px;
    font-weight: 100;
    color: #fff;
}
.body2{
    @include text(Work Sans,200, 16px , #616061 );
}
.body1{
    @include text(Work Sans,100, 14px , #616061 );
}
.form-title{
    @include text(Montserrat, 600, 48px , #fff );
}

//grid//
.grid{
    @extend %grid;
}
//Buttons//
.flex{
    width: 100%;
    text-align: center;
    padding:  30px 0 30px 0 ;
    button{
        margin-top:24px;
        margin-bottom: 33px ;
        @include button (14px, $magenta-color);
    }
}
button{
    margin-top:24px;
    margin-bottom: 33px ;
    @include button (14px, $magenta-color);
}
.button{
    margin-top:24px ;
    margin-bottom: 33px ;
    @include button (14px, $magenta-color);
}
//Pictures//
.pic1{
    width:20%;
    height:232px;
    background-color: $blue-color;
}
.pic2{
    width:40%;
    height:232px;
    background-color: $magenta-color;
}